@import url("https://fonts.googleapis.com/css2?family=Itim&family=Unica+One&family=Montserrat:wght@300;600;800&display=swap");
*, *:after, *:before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  background: #6cc3c6;
}

#root {
  background: #6CC3C6;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2 {
  font-family: "Itim", "Helvetica Neue", sans-serif;
  font-size: 3em;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}

h3 {
  font-family: "Itim", "Helvetica Neue", sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1em;
}

h4 {
  font-family: "Montserrat", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}

h5 {
  font-family: "Itim", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 10px 0;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #000000;
}

p {
  color: #575757;
  font-weight: 300;
}

.users__list {
  padding: 110px 30px 30px 30px;
}

.users__list .list__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.users__list .list__row .list__avatar {
  width: 25%;
}

.users__list .list__row .list__avatar img {
  width: 100%;
}

.users__list .list__row .list__name {
  width: 50%;
  padding: 0 0 0 5%;
}

.users__list .list__row .list__icons {
  width: 25%;
}

.users__list .list__row .list__icons div {
  width: 50%;
  text-align: right;
  cursor: pointer;
  opacity: 0.6;
}

.users__list .list__row .list__icons div:hover {
  opacity: 1;
}

.users__list .button--outlined-big {
  border-radius: 50px;
  width: 100%;
  padding: 11px;
  margin: 10px 0;
  text-transform: none;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
}

.users__list .button--outlined-big:hover {
  color: #6CC3C6;
  background: #ffffff;
}

.avatar__section {
  padding: 20px 0;
  margin: auto;
}

.avatar__section .avatar__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.avatar__section button:nth-child(1) {
  background: url("https://firebasestorage.googleapis.com/v0/b/mainaprops.appspot.com/o/avatar_cohet.png?alt=media&token=f0c34668-0142-47a0-8fbe-d889e229509a");
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar__section button:nth-child(2) {
  background: url("https://firebasestorage.googleapis.com/v0/b/mainaprops.appspot.com/o/avatar_bici.png?alt=media&token=d7a1b930-c413-49b5-b43c-004811d800b5");
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar__section button:nth-child(3) {
  background: url("https://firebasestorage.googleapis.com/v0/b/mainaprops.appspot.com/o/avatar_diana.png?alt=media&token=b8ac4fb6-678c-4f2f-8d04-20e8d8131741");
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar__section button:nth-child(4) {
  background: url("https://firebasestorage.googleapis.com/v0/b/mainaprops.appspot.com/o/avatar_nena.png?alt=media&token=b7c2b1dd-06c5-4da8-8064-377297d98d07");
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar__section button:nth-child(5) {
  background: url("https://firebasestorage.googleapis.com/v0/b/mainaprops.appspot.com/o/avatar_nen.png?alt=media&token=226bec1e-77a8-4e8e-a5cd-e54102c85326");
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar__section button:nth-child(6) {
  background: url("https://firebasestorage.googleapis.com/v0/b/mainaprops.appspot.com/o/avatar_unicorn.png?alt=media&token=0eae72d9-6e07-4a11-a149-1f0f1eb780d9");
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar__section .avatar__button {
  width: 100px;
  height: 100px;
  margin: 1%;
  opacity: 0.6;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.avatar__section .avatar__button:focus {
  opacity: 1;
  border: 3px solid #ffffff;
}
/*# sourceMappingURL=usersList.css.map */