

$text_logo: 'Unica One', 'Itim', 'Montserrat', cursive;

$text_main: 'Montserrat', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$text_title: 'Itim', 'Helvetica Neue', sans-serif;