@import './texts';
@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Unica+One&family=Montserrat:wght@300;600;800&display=swap');

*, *:after, *:before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $text_main;
}

body {
    background: rgba(108, 195, 198, 1);
}

#root{
    background: $color_turquoise;
}

.flex {
    display: flex;
}

h2 {
    font-family: $text_title;
    font-size: 3em;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
}

h3 {
    font-family: $text_title;
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px; 
    line-height: 1em;
}

h4 {
    font-family: $text_main;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}

h5 {
    font-family: $text_title;
    font-size: 20px;
    margin: 10px 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #000000;
}

p {
    color: #575757;
    font-weight: 300;
}

@mixin buttonBig{
    border-radius: 50px;
    width: 100%;
    padding:14px;
    margin: 10px 0;
    text-transform: none;
    font-size: 18px;
    font-weight: 600;
}
@mixin buttonBigOutlined{
    border-radius: 50px;
    width: 100%;
    padding:11px;
    margin: 10px 0;
    text-transform: none;
    font-size: 18px;
    font-weight: 600;
}
@mixin buttonSmall{
    border-radius: 50px;
    width: 100%;
    padding:10px;
    margin: 10px 0;
    text-transform: none;
    font-weight: 600;
}
@mixin buttonSmallOutlined{
    border-radius: 50px;
    width: 100%;
    padding:10px;
    margin: 10px 0;
    text-transform: none;
    font-weight: 600;
}




