@import '../src/styles/texts';
@import '../src/styles/colors';

*, *:after, *:before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $text_main;

}

body {

    background: rgba(108, 195, 198, 0.5);
}

#root{
    background: $color_turquoise;

}

.flex {
    display: flex;
}