@import '../../styles/colors';


.header {
    background: $color_turquoise;
    position: fixed;
    width: 100%;
    padding: 26px 30px 10px 30px;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
    z-index: 10;

    .nav{
        justify-content: space-between;
        align-items: flex-end;
        
    }
    .logo__nav {
        width: 70px
    }
    .ul__nav {
        list-style: none;
        align-items: flex-end;
        a:nth-child(2){
            margin-bottom: 1px;
        }
        li {
            padding: 0 5px;
        }

        li svg{
            transition: all 300ms;
        }

        li:hover svg{
            color: #000000;
        }

    }
}
