@import '../../styles/colors';
@import '../../styles/texts';

.home {
    text-align: center;
    padding: 110px 30px 30px 30px;

    img {
        display: block;
        margin: auto;
    }

    p{
        margin: 60px;
    }

    .button--violet {
        background: $color_violet;
        border-radius: 50px;
        width: 100%;
        padding:16px;
        margin: 10px 0;
        text-transform: none;
        font-size: 18px;
        color: #ffffff;
        font-weight: 600;
    }
    .button--violet:hover{
        background: $color_violet_light;
       }

    .button--outlined {
        background: rgba(0,0,0,0,);
        border-radius: 50px;
        width: 100%;
        padding:13px;
        margin: 10px 0;
        text-transform: none;
        border: 3px solid #ffffff;
        font-size: 18px;
        color: #ffffff;
        font-weight: 600;
    }
 
    .button--outlined:hover{
     color: $color_turquoise;
     background: #ffffff;
    }
}