@import '../../styles/colors';
@import '../../styles/texts';
@import '../../styles/styles.scss';

.home {
    text-align: center;
    padding: 110px 30px 30px 30px;

    img {
        display: block;
        margin: auto;
    }

    p{
        margin: 30px;
    }

    .button--violet-big {
        @include buttonBig;
        background: $color_violet;
        color: #ffffff;
     
    }
    .button--violet-big:hover{
        background: $color_violet_light;
    }
    
    .button--outlined-big {
        @include buttonBig;
        background: transparent;
        border: 3px solid #ffffff;
        color: #ffffff;
    }
    .button--outlined-big:hover{
        color: $color_turquoise;
        background: #ffffff;
    }

}